
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light"> <!-- Logo -->

	<ul class="nav">
		<li class="navbar-logo">
			<a class=navbar-brand" href="#">
		  		<img src="{{static('img/logo.png')}}">
		 	</a>
	 	</li>
 	</ul>

 	<ul>
	 	<li class = "nav-title">
	 		Degree Planning
	 	</li>
 	</ul>


 	<ul class="navbar-nav ml-auto">
 	{% if request.user.is_authenticated %}
 		 <li class="menu-item"><button type="button" class= "btn btn-link"><a href="{{ url('logout') }} ">Logout</a></button></li>
 	{%else%}
 		<li class="menu-item"><button type="button" class= "btn btn-link"><a href="{{ url('login') }} ">Login</a></button></li>
 		<li class="menu-item"><button type="button" class= "btn btn-link"><a href="{{ url('signup') }} ">Sign Up</a></button></li>
 	{%endif%}
 	</ul>


 </div>


</nav>

<!--Start menu -->
{% if request.user.is_superuser %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">

        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url('degrees') }} ">Select a Degree</a></button></li>
        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url('degreePlan') }}">View Degree Plan</a></button></li>
        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url ('timeline') }}">View Timeline</a></button></li>
        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{url ('transferCreditList')}}">View Transfer Credits</a></button></li>
        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{url ('addDegree')}}">Add a Degree</a></button></li>
    	</ul>
	</nav>
	<br>
<!--Start menu -->
{% else %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">

        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url('degrees') }} ">Select a Degree</a></button></li>
        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url('degreePlan') }}">View Degree Plan</a></button></li>
        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url ('timeline') }}">View Timeline</a></button></li>
        	<li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{url ('transferCreditList')}}">View Transfer Credits</a></button></li>
    	</ul>
	</nav>
	<br>
<!--End Menu -->
{% endif %}
