
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light"> <!-- Logo -->

	<ul class="nav">
		<li class="navbar-logo">
			<a class=navbar-brand" href="#">
		  		<img src="{{static('img/logo.png')}}">
		 	</a>
	 	</li>
 	</ul>

 	<ul>
	 	<li class = "nav-title">
	 		Degree Planning
	 	</li>
 	</ul>


 </div>


</nav>

<!--Start menu -->
<br>
<nav>
    <ul class="nav justify-content-center">

        <li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url('degrees') }} ">Select a Degree</a></button></li>
        <li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url('degreePlan') }}">View Degree Plan</a></button></li>
        <li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{ url ('timeline') }}">View Timeline</a></button></li>
        <li class="menu-item"><button type="button" class= "btn btn-outline-success "><a href="{{url ('transferCreditList')}}">View Transfer Credits</a></button></li>
    </ul>
</nav>
<br>
<!--End Menu -->

