{% extends 'base.html' %}

{% block content %}

<p>Here is where the information about a single degree is displayed!</p>
{% if request.session.degree is none %}
<p>You need to pick a degree first!</p>
{% else %}
<p>You have a degree!</p>
<form method="POST">
    <div style="width:25%">
    {{ csrf_input }}

    {# In the section below we would want to be able to identify how to treat the category #}
    {% for category in context['degree'] %}
        <h2>{{ category }}</h2>
        {% for course in context['degree'][category] %}
            {% if course is isList %}
                {% for subcourse in course%}
                    <p>{{ subcourse }}</p>
                {% endfor %}
            {% else %}
                    <input style="float:left" type="checkbox" name="Computer Science" value="{{ course }}">
                    <p onclick="hs( '{{ course }}' )" style="padding-left:25px">{{ course }}</p>
                    <p id="{{ course }}" style="display:none">
                        {% if course == "CSCE 1030" %}
                            {{ context['courseDescriptions'][course] }}
                        {% else %}
                            The course description stuff
                        {% endif %}
                    </p>
            {% endif %}
        <!--input type="checkbox" name="course A" value="course A">CourseA<br-->
        {% endfor%}
    {% endfor %}

    {# sample elective category #}
    <h2>Sample Computer Science Free Electives</h2>
    {# determine how many check boxes the section needs #}
    {% for i in range(3) %}
        <input style="float:left" type="checkbox" name="Computer Science" value="Computer Science Free Electives">
        <p style="padding-left:25px">Computer Science Free Elective</p>
    {% endfor %}
    {# Here we want to print out the each course #}
    {# % for course in category % #}
    {% for i in range(7) %}
        <p> course {{ i }}</p>
    {% endfor %}
    {# % endfor % #}

    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endif %}


<script>
function hs(event) {
    console.log(event);
    
    var el = document.getElementById(event);
    if (el.style.display === "none") {
        el.style.display = "block";
    }
    else {
        el.style.display = "none";
    }
}
</script>

{% endblock %}